body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}
/*BARRE DE NAVIGATION*/
.main-head {
    background-color: green;
    color: white;
}

nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 1 1 40rem;
    font-family: "Pacifico", cursive;
}

/*DEBUT DE LA SECTION*/
.hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0, 0, 0, 0.6), transparent), url(images/chine.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: center;
}

.hero h3{
    padding: 4rem;
    width: 50%;
}

.articles {
    margin-top: 20px;
}

.articles .article {
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 30px;
}

.articles .article .left img {
    height: 300px;
    width: 500px;
    margin-left: 20px;
}

.articles .article .right {
    width: 50%;
    margin-left: 20px;
}

.articles .article .right .description {
    color: #2d2d2d;
}

/*FOOTER*/
footer {
    background: black;
    padding: 40px;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    float: right;
}

footer a:hover {
    text-decoration: underline;
}

/*PAGE D'INSCRIPTION ET CONNEXION*/
body {
    background-color: white;
}

.box .box-title {
    color: white;
}

.box {
    border: 1px solid ;
    padding: 30px 25px 10px 25px;
    background: black;
    margin: 30px auto;
    width: 360px;
  }

.box-input {
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    width: 347px;
    height: 50px;
  }

  .box-button {
    border-radius: 5px;
    background: green;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    height: 51px;
    padding: 0;
    color: white;
    border: 0;
    outline:0;
  }

  /* PAGE COMMENTAIRE*/
  .comments {
      border: 1px solid;
      padding: 30px 25px 10px 25px;
      margin: 30px auto;
      width: 50%;
      background: blanchedalmond;
  }

  .comments textarea {
    font-size: 14px;
    background: #fff;
    border: 0px solid #ddd;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 10px;
    width: 340px;
    height: 80px;
  }

  .comments input {
    border-radius: 5px;
    background: green;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 40%;
    height: 40px;
    color: black;

  }

  /*PAGE LIVRE D'OR*/
  #livreor th {
      color: white;
  }

  .link {
      color: blue;
      text-decoration: underline;
      margin-left: 10px;
  }